geoopt==0.5.0
matplotlib==3.9.4
numpy==1.23.0
optuna==4.9.0
pandas==2.2.3
pyg-lib==0.4.0+pt112cu113
pyod==2.0.3
scikit-learn==1.6.1
scipy==1.13.1
torch==1.12.1+cu113
torch-cluster==1.6.3
torch-geometric==2.6.1
torch-scatter==2.1.2
torch-sparse==0.6.18
torchaudio==0.12.1+cu113
torchvision==0.13.1+cu113
umap==0.1.1
umap-learn==0.5.12